[submodule "Koltin_Bootcamp.Day00-1"]
	path = Koltin_Bootcamp.Day00-1
	url = ssh://git@repos-ssh.21-school.ru:2289/students/Kotlin_Bootcamp._Day00.ID_928277/maplesar_student.21_school.ru/Kotlin_Bootcamp.Day00-1.git
